html{
	margin-right: 1em;
	margin-left: 1em;
}

h1 {
	text-align: center;
	font-family: 'Roboto Slab', helvetica, serif;
	font-weight: 100;
	color: black;
	font-size: 3em;
}

ul{
	list-style-type: none;
}

#picture_grid {
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;  

}

#picture_grid li img{
	width: 100% !important;
	height: auto !important;
	margin: 0.7em;
	border: 2px solid #fcfcfc;

}

.primaryImage{
	border-radius: 5px;
}

.infoDiv{
	display: none;
}

.primaryImage.hover ~ .infoDiv{
	display: block;
}


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.white_content{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 5px solid white;
	border-radius: 3px;
	background-color: black;
	z-index: 1002;
	overflow: auto;
}


img:hover {
	cursor: pointer;
	opacity: 0.3;
}

/*#lightbox {
	display: none;
	width: 100%;
	height: 100%;
}

#lightbox_table_cell{
	align: center;
	vertical-align: middle;
}

#lightbox_content{
	width: 300px;
	background-color: white;
	border:5px solid black;
}
*/
.lightbox_text{
	color: white;
}

#lightbox_close{
	float:right;
}

.lightbox_text:hover{
	cursor:pointer;
}
